.team-wrapper
  = render "shared/header-main"
  %section.team-main
    %p スケジュールを確認したいチームを選んでください
    .team-main__index
      - @teams.each do |team|
        .team-main__index--link
          = link_to team_path(team) do
            = team.name
  = render "shared/footer-main"