.signin-wrapper
  = render "users/shared/header_user"
  .signin-main
    %span.signin-title ログイン
    .signin-inner
      .signin-form
        = form_with model: @user, url: new_user_session_path, id: 'new_user', class: 'signin-user s12', local: true do |f|
          .signin-user__inner.row
            .input-field.col.s6
              %i.material-icons.prefix email
              %input#email.validate{type: "email"}
              %label{for:"email"} メールアドレス
          .signin-user__inner.row
            .input-field.col.s4
              %i.material-icons.prefix lock_outline
              %input#password.validate{type: "password",autocomplete:"new-password"}
              %label{:for => "password"} パスワード
          .signin-user__button
            %button.waves-effect.waves-light.btn-large.indigo{name: "action", type:"submit"} ログイン
  = render "users/shared/footer_user"