.signin-wrapper
  = render "users/shared/header_user"
  .signin-main
    %span.signin-title ログイン
    .signin-inner
      .signin-form
        %form.signin-user.s12
          .signin-user__inner.row
            .input-field.col.s6
              %i.material-icons.prefix email
              %input#email.validate{type: "email"}
              %label{for:"email"} メールアドレス
          .signin-user__inner.row
            .input-field.col.s4
              %i.material-icons.prefix lock_outline
              %input#password.validate{type: "password",autocomplete:"new-password"}
              %label{:for => "password"} パスワード
          .signin-user__button
            %a.waves-effect.waves-light.btn-large.indigo ログイン
  = render "users/shared/footer_user"