.signup-form
  %h2.signup-form__title 入力内容確認
  .signup-form__inner
    .signup-confirmation__text
      登録完了しました。
    .signup-confirmation__button
      =link_to root_path do
        %span.btn.btn-primary.btn-lg
          完了