.signup-form
  %h2.signup-form__title
    新規登録
  .signup-form__inner
    .signup-menu
      .signup-menu__mail
        = link_to new_user_registration_path do
          %span メールアドレスで登録
      .signup-menu__twitter
        = link_to "" do
          %span Twitterで登録

