.signup-form
  %h2.signup-form__title 登録完了
  .signup-form__inner
    .signup-confirmation
      .signup-confirmation__text
        新規登録完了しました。
      .signup-confirmation__button
        =link_to root_path do
          %span.btn.btn-primary.btn-lg
            トップページへ