.mypage-main
  %h2.mypage-main__title
    ユーザーページ
  .mypage-main__inner
    -user = current_user.name
    %p.inner-text ようこそ！ #{user}
    .user-menu
      = link_to "" do
        ユーザー情報確認
      = link_to "" do
        チケット一覧
      = link_to "" do
        クレジットカード追加
    .user-contents


