.stocks-wrapper
  .stocks-main
    =form_with model:[@schedule, @stock], local: true do |f|
      .grade
        %label 席種
        = f.text_field :grade
      .price
        %label 金額
        = f.text_field :price
      .ticket_count
        %label 枚数
        = f.text_field :ticket_count
      .save-btn
        =f.submit "在庫追加"