.mypage-wrapper
  = render "/shared/header-main"
  .mypage-main
    .mypage-main__menu
      =render "/users/shared/mypage-menu"
    .mypage-main__content
      =render "/users/shared/mypage-content"
= render "/shared/footer-main"

