= render "/users/shared/header_user"
.user-wrapper
  .user-inner
    .user-inner__side
      =render "/users/shared/mypage_side"
    .user-inner__main
      =render "/users/shared/mypage_main"
= render "/users/shared/footer_user"

