.schedule-test
  .schedule-box
  -@schedules.each do |schedule|
    .match-date
      = schedule.match_date.strftime('%m月 %d日')
    .match-time
      =schedule.match_date.strftime('%H:%M')
    .team-name
      =link_to schedule_path(schedule) do
        .match-name
          = schedule.team1.name
          %span VS
          = schedule.team2.name
