.schedule-test
  -@schedules.each do |schedule|
    .match-date
      =schedule.match_date.strftime('%m月 %d日')
    .match-time
      =schedule.match_date.strftime('%H:%M')
    .team-name
    -if schedule.team1_id == @team.id
      = schedule.team2.name
    - else
      = schedule.team1.name