= render "shared/header_main"
.schedule-wrapper
  .schedule-inner
    .schedule-inner__top
      =link_to venues_path do
        %span スタジアム一覧
      =link_to schedules_path do
        %span スケジュール一覧
    .schedule-inner__match
      .match-index
        .match-index__date
          4月17日
        .match-index__time
          18:00 開始
        .match-index__stadium
          会場:Aスタジアム
      .match-name
        %span チームA VS チームB
      .match-ticket
        = link_to schedule_orders_path(@match, @orders) do
          チケットを買う
= render "shared/footer_main"