%header.header-main
  .header-inner
    .inner-upr
      =link_to root_path, class:"inner-upr__logo" do
        TICKETSHOP
      .inner-upr__userbox
        -if user_signed_in?
          .inner-upr__userbox--mypage
            =link_to user_path(current_user.id), class:"inner-upr__userbox--link" do
              マイページ
          .inner-upr__userbox--logout
            =link_to destroy_user_session_path, method: :delete, class:"inner-upr__userbox--link" do
              ログアウト
        -else
          .inner-upr__userbox--new
            =link_to users_menu_path, class: "inner-upr__userbox--link" do
              %span.font-red 新規登録
          .inner-upr__userbox--login
            =link_to users_sign_in_manu_path, class: "inner-upr__userbox--link" do
              %span ログイン

    .inner-lwr
      .inner-lwr__link
        =link_to schedules_path, class: "inner-lwr__link--schedule" do
          =icon('far', 'calendar-alt',class:"icon-header")
          %span スケジュール一覧
        =link_to venues_path, class: "inner-lwr__link--venue" do
          =icon('fas', 'drum-steelpan',class:"icon-header")
          %span スタジアム一覧


