.header-main
  .header-inner
    .header-inner__upr
      =link_to "", class:"header-inner__upr__logo" do
        TICKETSHOP
      .header-inner__upr__search
    .header-inner__lwr
      .header-inner__lwr__left
        =link_to "", class:"heaxer-inner__lwr__left__category" do
          カテゴリーから探す
      .header-inner__lwr__right
        .header-inner__lwr__right__new
          新規登録
        .header-inner__lwr__right__login
          Login