%header.header-main
  .header-inner
    .inner-upr
      =link_to root_path, class:"inner-upr__logo" do
        TICKETSHOP
    .inner-lwr
      .inner-lwr__linkbox
        =link_to "#", class: "inner-lwr__linkbox--schedule" do
          %span スケジュール一覧
        =link_to venues_path, class: "inner-lwr__linkbox--venue" do
          %span スタジアム一覧
