.header-main
  .header-inner
    .header-inner__upr
      =link_to "", class:"header-inner__upr__logo" do
        TICKETSHOP
      .header-inner__upr__search
    .header-inner__lwr
      .header-inner__lwr__left
        =link_to "", class:"heaxer-inner__lwr__left__category" do
          カテゴリーから探す
      .header-inner__lwr__right
        -if user_signed_in?
          .header-inner__lwr__right__mypage
            マイページ
          =link_to destroy_user_session_path, method: :delete, class:"header-inner__lwr__right__logout" do
            ログアウト
        -else
          =link_to new_user_registration_path,class:"header-inner__lwr__right__new" do
            新規登録
          =link_to new_user_session_path, class:"header-inner__lwr__right__login" do
            Login