= render "shared/header_main"
.ticktet-wrapper
  .ticket-inner
    .ticket-inner__top
      %span スケジュール一覧
      %span スタジアム一覧

    .ticket-inner__month
      %span 今月の試合
    .ticket-inner__other
      %span その他の試合