.venue-wrapper
  = render "shared/header-main"
  .venue-main
    .venue-inner
      %h2.venue-inner__title スタジアム一覧
      .venue-inner__contents
        - @venues.each do |venue|
          .venue-info
            .venue-info__thumbnail
              = image_tag venue.image.url, class: 'venue-image'
            .venue-info__text
              %span
                =venue.name
              =link_to venue_path(venue) do
                %span 詳細
  = render "shared/footer-main"