.venue-wrapper
  = render "shared/header-main"
  .venue-details
    .venue-details__name
      %h2 Aスタジアム
    .venue-details__contents
      .stadium-box__thumbnail
        = image_tag @venue.image.url, class: 'stadium-image'
      .stadium-box__text
        .stadium-address
          %span 住所
          %p
            = @venue.address
        .stadium-access
          %span アクセス
          %p 〇〇駅からバスで15分
        .stadium-notice
          %p ※席種に関しましてはサムネイルにてご確認ください
  = render "shared/footer-main"