.mypage-wrapper{
  font-family: "bananaslip";
}

.mypage-main{
  max-width: 750px;
  min-width: 300px;
  margin: 20px auto 0;
  padding: 30px 60px;
  font-family: 'Source Sans Pro', Helvetica, Arial, '游ゴシック体', 'YuGothic',
  'メイリオ', 'Meiryo', sans-serif;
}