.mypage-wrapper{
  font-family: "bananaslip";
}

.mypage-main{
  max-width: 750px;
  min-width: 300px;
  margin: 20px auto 0;
  padding: 30px 60px;

  &__title{
    font-size: 32px;
    border-bottom: solid 3px #dddddd;
  }

  &__inner{
    padding: 10px;
  }
}

.user-menu{
  font-size: 23px;
  display: flex;
  a{
    margin-right: 15px;
  }
}

