.mypage-wrapper{
  font-family: "bananaslip";
}

.mypage-main{
  max-width: 750px;
  min-width: 300px;
  margin: 20px auto 0;
  padding: 30px 60px;

  &__title{
    font-size: 32px;
    border-bottom: solid 3px #dddddd;
  }

  &__content{
    padding: 10px;
  }
}