.signup-main{
  width: 700px;
  margin: 20px auto;
  background-color: #e0e0e0;
  .signup-title{
    font-size: 50px;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 20px 30px;
  }
  .signup-inner{
    padding: 20px 30px;
  }
}
