.signup-wrapper{
  background-color: #f5f5f5;
  .signup-main{
    width: 700px;
    margin: 20px auto;
    background-color: #fff;
    .signup-title{
      font-size: 35px;
      display: inline-block;
      text-align: center;
      width: 100%;
      padding: 20px 30px;
      font-family: "bananaslip";
    }
    .signup-inner{
      padding: 20px 30px;
    }
  }
}
