.order-main{
  max-width: 900px;
  min-width: 350px;
  margin: 20px auto 0;
  padding: 30px 60px;

  &__title{
    font-size: 45px;
    border-bottom: solid 3px #dddddd;
    font-family: "bananaslip";
  }

  &__form{
    width: 500px;
    margin: 20px auto;
  }
}

.order-form{
  font-size: 23px;

}

.order-form__name{
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.order-form__stadium{
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.order-form__date{
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.order-form__time{
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.order-form__grade{
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.order-form__count{
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}