.schedule-details{
  max-width: 900px;
  min-width: 350px;
  margin: 20px auto 0;

  &__inner{
    padding: 30px 60px;
  }
}

.match-index{
  display: flex;
  font-size: 25px;
  margin-bottom: 10px;


  &__time{
    margin: 0 20px;
  }

}

.match-title{
  font-size: 45px;
  margin-bottom: 20px;
}

.match-ticket{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__inner{
    width: 300px;
    border: solid 2px #333333;
    border-radius: 1rem;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 20px;

    &--upr{
      display: flex;
    }
  }
}

.ticket-price{
  margin-left: 35px;
}

