.signup-wrapper{
  font-family: "bananaslip";
}

.signup-form{
  max-width: 700px;
  min-width: 350px;
  margin: 0 auto;

  &__title{
    border-bottom: solid 3px #dcdcdc;
    font-family: "bananaslip";
  }

  &__inner{
    padding: 20px 15px;
  }
}

.signup-user, .signup-credit, .signup-confirmation{
  width: 350px;
  margin: 0 auto;
  font-family: 'Source Sans Pro', Helvetica, Arial, '游ゴシック体', 'YuGothic',
  'メイリオ', 'Meiryo', sans-serif;
}

.signup-menu{
  width: 350px;
  padding: 10px;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;

  &__mail{
    height: 50px;
    margin-bottom: 30px;
    line-height: 50px;
    border: solid 2px #333333;
    border-radius: 0.6rem;
    background-color: #333333;
    span{
      color: #ffffff;
    }
  }

  &__twitter{
    height: 50px;
    line-height: 50px;
    border: solid 2px #333;
    border-radius: 0.6rem;
  }
}

.form-group{
  &__text{
    &--red{
      color: #ffffff;
      background-color: #FF3333;
      border: solid 1px #FF3333;
      border-radius: 4px;
    }
  }

  &__input{
    width: 250px;

    &--limit{
      display: flex;
      width: 200px;

      span{
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
        line-height: 38px;
      }
    }

    &--cvc{
      width: 100px;
    }
  }
}