.signup-wrapper{
  font-family: "bananaslip";
}

.signin-form{
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;

  &__title{
    border-bottom: solid 3px #dcdcdc;
    font-family: "bananaslip";
  }

  &__inner{
    padding: 20px 15px;
  }
}

.signin-menu{
  width: 350px;
  padding: 10px;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;

  &__mail{
    height: 50px;
    margin-bottom: 30px;
    line-height: 50px;
    border: solid 2px #333333;
    border-radius: 0.6rem;
    background-color: #333333;
    span{
      color: #ffffff;
    }
  }

  &__google{
    height: 50px;
    line-height: 50px;
    border: solid 2px #333;
    border-radius: 0.6rem;
  }
}

.signin-user{
  width: 350px;
  margin: 0 auto;
  font-family: 'Source Sans Pro', Helvetica, Arial, '游ゴシック体', 'YuGothic',
  'メイリオ', 'Meiryo', sans-serif;
}