.ticktet-wrapper{
  font-family: "bananaslip";
  .ticket-inner{
    max-width: 1020px;
    margin: 0 auto;
    padding: 30px;
    &__top{
      height: 75px;
      span{
        font-size: 20px;
        margin: 0 15px;
      }
    }
    &__weeks, &__month{
      span{
        font-size: 20px;
      }
      .calender{
      margin-top: 20px;
      margin-bottom: 20px;
        .simple-calendar {
          .next-month {
            background-color: #ffffff;
          }
          .past{
            .match-name{
              a{
              color: #dddddd;
              text-decoration: none;
             }
            }
          }
        }
      }
    }
    &__weeks{
      margin-bottom: 35px;
      .match-box{
        display: flex;
        height: 90px;
        padding: 10px 5px;
        &__inner{
          margin-right: 20px;
        }
      }
    }
  }
}
