.ticktet-wrapper{
  font-family: "bananaslip";
  .ticket-inner{
    max-width: 1020px;
    margin: 0 auto;
    padding: 30px;
    &__top{
      height: 75px;
      span{
        font-size: 20px;
        margin: 0 15px;
      }
    }
    &__weeks, &__month{
      span{
        font-size: 20px;
      }
      .calender{
      margin-top: 20px;
      margin-bottom: 20px;
        .simple-calendar {
          .next-month {
            background-color: #ffffff;
          }
          .past{
            .match-name{
              a{
              color: #dddddd;
              text-decoration: none;
             }
            }
          }
        }
      }
    }
    &__weeks{
      margin-bottom: 35px;
      .match-box{
        display: flex;
        height: 90px;
        padding: 10px 5px;
        &__inner{
          margin-right: 20px;
        }
      }
    }
  }
}

.buy-wrapper{
  font-family: 'Source Sans Pro', Helvetica, Arial, '游ゴシック体', 'YuGothic',
  'メイリオ', 'Meiryo', sans-serif;
  .buy-inner{
    max-width: 1020px;
    min-width: 750px;
    margin: 0 auto;
    padding: 30px;

    &__top{
      height: 75px;
    }
    &__main{
      .buy-title{
        font-size: 30px;
        text-align: center;
        margin-bottom: 15px;
      }
      .buy-form{
        width: 750px;
        margin: 0 auto;
        padding: 10px 35px;
        &__inner{
          .match-name, .match-venue, .match-date, .match-time, .seat-typebox, .ticket-count, .ticket-price, .grade{
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            label{
              font-size: 20px;
              line-height: 45px;
            }
            p{
              font-size: 30px;
            }
          }
          .seat-type{
            width: 150px;
          }
          .grade{
            .grade-select{
              display: block;
              width: 100px;
            }
          }
          .buy-button{
            text-align: center;
          }
        }
      }
    }
  }
}
