/*
 *= require simple_calendar
*/

@import 'config/reset';
@import 'modules/team-main';
@import 'modules/team-schedule';
@import 'modules/schedules-main';
@import 'modules/schedules-details';
@import 'modules/stadiums';
@import 'shared/header-main';
@import 'shared/header-user';
@import 'shared/footer-main';
@import 'modules/signup-form';

@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "bootstrap";
a, a:visited, a:focus, a:hover {
  color: #333333;
  text-decoration: none;
}




.font-red{
  color: red;
}

