= render "shared/header_main"
.stadium-wrapper
  .stadium-inner
    .stadium-inner__top
      =link_to schedules_path do
        %span スケジュール一覧
    .stadium-inner__contents
      .stadium-title
        %span スタジアム一覧
      .stadium-main
        - @stadiums.each do |stadium|
          .stadium-info
            .stadium-info__thumbnail
              = image_tag stadium.image.url, class: 'stadium-image'
            .stadium-info__text
              %span
                =stadium.name
              %span 詳細