.signup-wrapper
  = render "users/shared/header_user"
  .signup-main
    %span.signup-title クレジットカード登録
    .signup-inner
      %form.signup-user.s12
        .signup-user__inner.row
          .credit-number
            %label カード番号
            %span.must 必須
          .input-field.col.s6
            %i.material-icons.prefix credit_card
            %input#credit-number.credit-number{type:"text"}
        .signup-user__inner.row
          .credit-limit
            %label 有効期限
            %span.must 必須
          .input-field.col.s2
            %select
              %option{:disabled => "disabled", :selected => "selected", :value => ""} Month
                = ('01'..'12').each do |month|
                  %option{value: month}
                    =month
          .input-field.col.s2
            %select
              %option{:disabled => "disabled", :selected => "selected", :value => ""} Year
              %option{:value => "1"} Option 1
              %option{:value => "2"} Option 2
              %option{:value => "3"} Option 3




  = render "users/shared/footer_user"